<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="d416260c-09f0-42ae-a07a-6e6b0cd4599f" file="config/${mule.env}.yaml" />
	<global-property doc:name="Global Property" doc:id="d3d0fe4a-e81e-4f9e-8a39-83d64c0407af" name="mule.env" value="dev" />
	<http:request-config name="Barett_Request_configuration" doc:name="HTTP Request configuration" doc:id="d4f72ea3-fb6c-4cf3-9715-d571e0b5efe8" basePath='#[vars."3plRequest".basePath]'>
		<http:request-connection host='#[vars."3plRequest".host]' protocol="HTTPS"/>
	</http:request-config>
	<http:listener-config name="mf-3pl-sapi-httpsListenerConfig">
        <http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="server-keystore.jks" keyPassword="${secure::https.keyPass}" password="${secure::https.keyPass}" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="mf-3pl-sapi-config" api="mf-3pl-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
	<import doc:name="Import" doc:id="c3f78984-6c7b-4e90-a23c-ade37c3d54ff" file="commons-logger.xml" />
	<import doc:name="Import" doc:id="dd0c31d5-4df4-48cd-bd6c-f9e348465e9c" file="commons-error-handler.xml" />
	<import doc:name="Import" doc:id="54364d8a-2c91-4bf0-8838-f17a3a475111" file="commons-config.xml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="3bbe54a8-b244-4760-883e-98871cce6a8b" file="config/${mule.env}-secure.yaml" key="${mule.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<api-gateway:autodiscovery apiId="${app.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="baa3bc06-f8bf-444b-b154-a5bf3c8afc2e" flowRef="mf-3pl-sapi-main" />
</mule>
